<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= current_page.data.title || "Middleman" %></title>

    <%= stylesheet_link_tag "site" %>
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Courgette" rel="stylesheet">

    <%= javascript_include_tag "site" %>
    <script src="https://use.fontawesome.com/488eaeeb3f.js"></script>
  </head>
  <body>
    <ul class="navbar">
      <li><a href="/">Home</a></li>
      <li><a href="/episodes/">Episodes</a></li>
      <li><a href="/about/">About</a></li>
    </ul>

    <h1><%= current_page.data.title %></h1>

    <%= yield %>

    <p class="text-right">
      <a href="https://itunes.apple.com/us/podcast/who-reads-poetry/id1291115585?mt=2"><i class="fa fa-fw fa-3x fa-apple" aria-hidden="true"></i></a>
      <a href="https://play.google.com/music/listen#/ps/Istakqgkufak36w3c27asr7wxs4"><i class="fa fa-fw fa-3x fa-android" aria-hidden="true"></i></a>
      <a href="https://twitter.com/whoreadspoetry"><i class="fa fa-fw fa-3x fa-twitter" aria-hidden="true"></i></a>
    </p>

  </body>
</html>
