---
title: Episodes
---

<% data.episodes.each do |episode| %>
  <h2>#<%= episode.number %> <%= episode.title %></h2>

  <p><%= episode.description %></p>

  <p>Guest: <%= link_to episode.guest.name, episode.guest.url %></p>

  <p>Poem: <%= link_to episode.poem.name, episode.poem.url %></p>

  <p>Poet: <%= link_to episode.poet.name, episode.poet.url %></p>
<% end %>

